body {
    background-color: #5a2b81;
}

h3.brand {
  color: #d8d8d8;
  font-family: "Myriad Pro Bold";
  font-size: 40pt;
}

.name-box {
  color: #ffffff;
}


.form-control:focus {
  border-bottom-color: #dbd9e2 !important;
  box-shadow: 0 1px 0 0 #dbd9e2 !important
}

.btn-filled:hover {
  background-color: #7b5499 !important;
  color: white !important;
}

.buttons {
  margin-top: 10px;
}

.btn {
  border-radius: 7px;
  /*margin: 10px auto;*/
}

.btn-filled {
  background-color: #8da1cd !important;

}


.v-align {
  position: relative !important;
  transform: translate3d(0, -50%, 0) !important;
  -webkit-transform: translate3d(0, -50%, 0) !important;
  top: 50% !important;
  z-index: 2 !important;
}


#particles-js{
  width: 100%;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: #5a2b81;
}

.main-content {
  z-index: 999 !important;
}
