body {
    font-family: 'Open Sans', sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    font: normal 16px/20px Lekton, sans-serif;
    background-color: #5a2b81;
    background: url('/img/background.jpg');
}

h2, h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
}

.titles {
  text-align: center;
  margin-top: 10%;

}


.typer-title {
  text-align: left;
  margin-left: 375px;
  font-size: 60px;
  color: white;
}


button {
    padding: 10px;
    font-size: 16px;
    display: inline-block;
    background: #f0f0f0;
    color: #444;
    line-height: 30px;
    margin: 3px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:focus {outline:none;}
