body {
    font-family: 'Open Sans', sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    font: normal 16px/20px 'Lekton', sans-serif;
    background-color: #5a2b81;
    background: url('/img/background.jpg');
    background-size: contain;
    background-attachment: fixed;
}

h1 {
    font-weight: 300 !important;
}

h2 {
    font-weight: 410 !important;
}

h2, h1 {
    color: white !important;
    font-size: 60px !important;
}

.section { height: 100vh; }

.titles {
    text-align: center;
    margin-top: 7%;
}

.name-box {
    color: #ffffff !important;

    width: 365px !important;
    border: 0;
    background: transparent !important;
    height:50px !important;
    font-size:20pt !important;
}

.form-control:focus {
    box-shadow: 0 2px 0 0 #dbd9e2 !important
    border-bottom-color: transparent !important;


}

.btn-filled:hover:enabled {
    background-color: rgba(83, 41, 140, 0.8) !important;
    color: white !important;
}

.buttons {
    margin-top: 10px;
}

.btn {
    border-radius: 7px;
    margin-top: 10px;
    width: 150px;
}

.btn-filled {
    background-color: rgba(121, 60, 204, 0.6) !important;
    color: white !important;

}


.drawing-title {
    text-align: left;
    margin-left: 29%;
    margin-top: 13%;
    font-size: 60px;
    color: white;
    font-weight: 300;
}

.typer-title {
    text-align: left;
    margin-left: 29%;
    font-size: 60px;
    color: white;
}



button {
    padding: 10px;
    font-size: 16px;
    display: inline-block;

    line-height: 30px;
    margin: 3px;
    border: none !important;
    border-radius: 10px;
    cursor: pointer;
}

button:focus {outline:none;}

.form-control::-webkit-input-placeholder { color: white !important; }
.form-control:-moz-placeholder { color: white !important; }
.form-control::-moz-placeholder { color: white !important; }
.form-control:-ms-input-placeholder { color: white !important; }



.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}



@media only screen and (max-width: 870px) and (min-width: 501px) {
    h1 {
        font-size: 40px !important;
    }
    h2 {
        font-size: 40px !important;
    }
    .drawing-title {
        font-size: 50px;
        margin-left: 0%;
        text-align: center;
    }

}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 30px !important;
    }
    h2 {
        font-size: 30px !important;
    }
    .drawing-title {
        font-size: 30px;
        margin-left: 0%;
        text-align: center;
    }
    .typer-title {
        margin-left: 0%;
        font-size: 40px;
    }

    body {
      background: url('/img/mobileback.png');
      background-size: cover;
    }

}
